<h2>Accounts</h2>
<div class="flex">
    <div class="flex-1">
        <div class="table-container">
            <table class="table w-100" [formGroup]="putAccountForm">

                <thead>
                    <tr>
                        <th>
                            s/n
                        </th>
                        
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Password</th>
                        <th>
                            Remain Signed in
                        </th>
                    </tr>
                </thead>

                <tbody formArrayName="Accounts">
                    <tr *ngFor="let account of accounts; let i=index">
                        <td> {{i+1}}</td>

                        <td [formGroupName]="i">
                            <input type="text" formControlName="first_Name" [ngClass]="{'border-less-textbox':account.modelId!==accoutId,
                        'form-input':account.modelId==accoutId}" [disableControl]="account.modelId!=accoutId" />
                        </td>
                        <td [formGroupName]="i">
                            <input type="text" formControlName="last_Name" [ngClass]="{'border-less-textbox':account.modelId!==accoutId,
                        'form-input':account.modelId==accoutId}" [disableControl]="account.modelId!=accoutId" />
                        </td>
                        <td [formGroupName]="i">
                            <input type="text" formControlName="email" [ngClass]="{'border-less-textbox':account.modelId!==accoutId,
                        'form-input':account.modelId==accoutId}" [disableControl]="account.modelId!=accoutId" />
                        </td>
                        <td [formGroupName]="i">
                            <input type="text" formControlName="passwordHash" [ngClass]="{'border-less-textbox':account.modelId!==accoutId,
                        'form-input':account.modelId==accoutId}" [disableControl]="account.modelId!=accoutId" />
                        </td>
                        <td [formGroupName]="i">
                            <input type="checkbox" class="blue-back" formControlName="remain_SignedIn" [disableControl]="account.modelId!=accoutId" />
                        </td>
                        <td>
                            <button style="width:90px;" class="button button-blue-back" (click)="onEdit(account)" *ngIf="account.modelId!=accoutId" type="button">Edit</button>
                            <button style="width:90px;" class="button button-blue-back" (click)="onUpgrade(i)" *ngIf="account.modelId==accoutId" type="submit">Upgrade</button>
                            
                        </td>
                        <td>
                            <button style="width:90px;" class="button button-red-back ml" (click)="onDelete(i)" type="button">Delete</button>
                            </td>
                    </tr>
                </tbody>


            </table>

        </div>
    </div>
   
</div>
