<div class="container">
    <div class="page-content">
        <div class="margin-bottom">
            <div class="flex">
                <div class="flex-1" id="top-bar-div">
                    <h2 class="app-title">
                        Account Manager
                    </h2>
                </div>
                <div class="flex-1 pr" id="search-box-div">
                    <div class="navbar account-links">
                        <ul>
                            <li>
                                <a [routerLink]="['/See Table']">See Table</a>
                            </li>
                            <li>
                                <a [routerLink]="['/Create Account']">Create Account</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>
